{% extends 'pagesbase.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block css %}
  .cover-div-blue {
    background: linear-gradient(0deg, rgba(8, 50, 68, 0.9), rgba(8, 50, 68, 0.9));
    background-size: cover;
    background-position: center;
  }
  .cover-div-green {
    background: linear-gradient(0deg, rgba(146, 186, 21, 0.8), rgba(146, 186, 21, 0.8));
    background-size: cover;
    background-position: center;
  }
  .cover-div-white {
    background: #ffffff;
  }

  .circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #1CA6E1;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .history.row .col-2 {
    align-self: stretch;
  }
  .history.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #1CA6E1;
    z-index: 1;
  }
  .history.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .history.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .history.row .col-2.full-left::after {
    height: 100%;
    left: calc(50% - 0px);
  }
  .history.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #1CA6E1;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #1CA6E1;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  .text-indent {
    text-indent: 40px;
  }
{% endblock %}

{% block content %}
  <div style="position: fixed; top: 0; width: 100%; height: 100%; z-index: -1;">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
    </video>
  </div>

  <main>
    <div class="container-fluid cover-div-blue" style="height: 85vh">
      <div class="row" style="padding-top: 16vh">
        <div class="col-2 offset-5 text-center">
          <img src="{% static 'pca.png' %}" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-8 offset-2 text-center color-white">
          {{ page.banner_text|richtext }}
          <h3><span class="fa fa-chevron-circle-down"></span></h3>
        </div>
      </div>
    </div>

    <div class="container-fluid cover-div-white" style="height: 100%; padding-top: 75px; padding-bottom: 75px">

      <div class="container">
        <h2 class="pb-3 pt-2 border-bottom mb-5">
          <span class="fa fa-history"></span> Philippine Cubers Association's Timeline
        </h2>

        <!-- First section -->
        <div class="row align-items-center history d-flex">
          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2004</div>
          </div>
          <div class="col-8 text-justify">
            <h5>August 2004</h5>
            <p class="text-indent">The association started in August 2004 as a simple account in a certain internet social network service known as the Rubik’s Cube Solvers Society, also known as RCSS, with a profile name Rubik’s Cube. It was founded by Raphael Jan Ferraris, JMson Calalang, John and JB Cañares. Among its enthusiastic pioneering members were Benjamin Jose Enriquez, Jeremy Nable, Amiel Buenaventura Jr., Albert Romero, Jonathan Papa, Lester Santos, Fritz Briones, and Norman Mijares. The initial goal was to gather every cuber in the country but later proved to be a gathering of less-enthusiastic cubers.</p>
          </div>
        </div>

        <!-- Left-to-right path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>

        <!-- Second section -->
        <div class="row align-items-center justify-content-end history d-flex">
          <div class="col-8 text-justify">
            <h5 class="text-right">February, 2007</h5>
            <p class="text-indent">By February 17, 2007 a person working for a media contacted JB Cañares and presented a plausible plan to make speedcubing big in the Philippines by which the founders and the enthusiastic members of the society took an interest. The opportunity did not materialize due to lack of communication and differences in location of members. But it was in March 2007 when John Cañares made a film documentary entitled Pinoy Cuber Documentary, regarding the lives of speedcubers in the Philippines. The documentary was sent to the World Cube Association (WCA) via net, and luckily Ron Van Bruchem, a member of the WCA board liked the film, later passed instructions to the Filipino speedcubers to gather at least 12 competitors and considered sending a WCA delegate if ever this was accomplished.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
        </div>

        <!-- Right-to-left path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>

        <!-- Third section -->
        <div class="row align-items-center history d-flex">
          <div class="col-2 text-center full-left d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
          <div class="col-8 text-justify">
            <h5>March, 2007</h5>
            <p class="text-indent">In response, JB Cañares soon announced the news online and gave instructions to Fritz Briones to open a Group account in the same social network service to take advantage of its forum feature. The Group was established on March 11, 2007 and was initially named Pinoy Cubers Association and was later changed to Philippine Cubers Association (PCA) . Jonathan Papa made a logo for the group and it’s been the official logo since then. It catered to interested cubers regarding the competition and later took the initiative. Among the pioneering members were, Jan Jerome Bautista, Isagani Esteron, Lyn Uy, Lester Santos and so many others not mentioned.</p>
          </div>
        </div>

        <!-- Left-to-right path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>

        <!-- Fourth section -->
        <div class="row align-items-center justify-content-end history d-flex">
          <div class="col-8 text-justify">
            <h5 class="text-right">Eearly 2007</h5>
            <p class="text-indent">In early 2007, Mat Almeida, a Portuguese &amp; half Filipino appeared on national television and introduced speedcubing to the Philippines. Having participated in different speedcubing tournaments outside the country, Mat was already a seasoned speedcuber. Being aware a possible local competition was being organized, he soon later joined PCA to help.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
        </div>

        <!-- Right-to-left path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>

        <!-- Fifth section -->
        <div class="row align-items-center history d-flex">
          <div class="col-2 text-center full-left d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
          <div class="col-8 text-justify">
            <h5>April, 2007</h5>
            <p class="text-indent">Jonathan Papa and Lester Santos proposed for the creation of an official website in April 2007, but were later delayed due to financial difficulties.</p>
          </div>
        </div>

        <!-- Left-to-right path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>

        <!-- Sixth section -->
        <div class="row align-items-center justify-content-end history d-flex">
          <div class="col-8 text-justify">
            <h5 class="text-right">June, 2007</h5>
            <p class="text-indent">By June 23, 2007, Lester Santos created a forum website and was immediately approved by the group. The forum was a success, and soon gathered twice the number from the previous site. The initial plans mostly took place in Manila, with Mat Almeida, Jonathan Papa, and Lester Santos as head organizers. The plan was gradually solidifying and soon Mat convinced Ron Van Bruchem to make him as a WCA delegate for the said event. This news immediately pushed the advancement further into laying out the final planning of the competition.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
        </div>

        <!-- Right-to-left path -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>

        <!-- Last section -->
        <div class="row align-items-center history d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2007</div>
          </div>
          <div class="col-8 text-justify">
            <h5>June 2007 - Present</h5>
            <p class="text-indent">Mat Almeida reappeared on national television on June 28, 2007 to promote the association and announced the upcoming Rubik’s Cube Philippine Open 2007, the first speedcubing competition in the country which was recognized by WCA. When the first Philippine Open was finalized, it was then scheduled to take place in August 25, 2007. With its success, it gathered huge attention to cubing enthusiasts and then PCA has begun growing exponentially. The competition also gained media exposure to speedcubing in the Philippines. PCA continues to grow until now, providing more successful competitions in different parts of the Philippines, making more people aware of the world of speedcubing, helping more aspiring speedcubers to be the best of themselves, &amp; to be considered as world class competitors in the world of speedcubing. PCA also continues to provide more activities, more friendship and more fun.</p>
          </div>
        </div>

      </div>

    </div>
  </main>
{% endblock %}
