<div class="col-1">
  <div class="nav flex-column nav-pills text-center" id="events-nav" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="c333-tab" data-toggle="pill" href="#c333" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-333"></span></a>
    <a class="nav-link" id="c222-tab" data-toggle="pill" href="#c222" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-222"></span></a>
    <a class="nav-link" id="c444-tab" data-toggle="pill" href="#c444" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-444"></span></a>
    <a class="nav-link" id="c555-tab" data-toggle="pill" href="#c555" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-555"></span></a>
    <a class="nav-link" id="c666-tab" data-toggle="pill" href="#c666" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-666"></span></a>
    <a class="nav-link" id="c777-tab" data-toggle="pill" href="#c777" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-777"></span></a>
    <a class="nav-link" id="minx-tab" data-toggle="pill" href="#minx" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-minx"></span></a>
    <a class="nav-link" id="pyram-tab" data-toggle="pill" href="#pyram" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-pyram"></span></a>
    <a class="nav-link" id="skewb-tab" data-toggle="pill" href="#skewb" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-skewb"></span></a>
    <a class="nav-link" id="sq1-tab" data-toggle="pill" href="#sq1" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="cubing-icon event-sq1"></span></a>
  </div>
</div>

<div class="col">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="c333" role="tabpane" aria-labelledby="c333-tab">
      <div class="row">
        <div class="col pl-0">
          <ul class="nav nav-tabs" id="c333nav">
            <li class="nav-item">
              <a class="nav-link active" id="c333s-tab" href="#c333s"><span class="cubing-icon event-333"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c333oh-tab" href="#c333oh"><span class="cubing-icon event-333oh"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c333bf-tab" href="#c333bf"><span class="cubing-icon event-333bf"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c333mbf-tab" href="#c333mbf"><span class="cubing-icon event-333mbf"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c333ft-tab" href="#c333ft"><span class="cubing-icon event-333ft"></span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="tab-content">

            <div class="tab-pane fade show active" id="c333s" role="tabpane" aria-labelledby="c333s-tab">
              <div class="row">
                <div class="col border-left">
                  <h3 style="margin-top: 18px; margin-left: 8px">3x3x3 Single</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333 result_type='single' %}
                </div>
                <div class="col">
                  <h3 style="margin-top: 18px">3x3x3 Average</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333 result_type='average' %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="c333oh" role="tabpane" aria-labelledby="c333oh-tab">
              <div class="row">
                <div class="col border-left">
                  <h3 style="margin-top: 18px; margin-left: 8px">3x3x3 One-handed Single</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333oh result_type='single' %}
                </div>
                <div class="col">
                  <h3 style="margin-top: 18px">3x3x3 One-handed Average</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333oh result_type='average' %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="c333bf" role="tabpane" aria-labelledby="c333bf-tab">
              <div class="row">
                <div class="col border-left">
                  <h3 style="margin-top: 18px; margin-left: 8px">3x3x3 Blindfolded Single</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333bf result_type='single' %}
                </div>
                <div class="col">
                  <h3 style="margin-top: 18px">3x3x3 Blindfolded Average</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333bf result_type='average' %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="c333mbf" role="tabpane" aria-labelledby="c333mbf-tab">
              <div class="row">
                <div class="col border-left">
                  <h3 style="margin-top: 18px; margin-left: 8px">3x3x3 Multi-Blind Single</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333mbf result_type='single' %}
                </div>
                <div class="col">
                  <h3 style="margin-top: 18px">3x3x3 Multi-Blind Average</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333mbf result_type='average' %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="c333ft" role="tabpane" aria-labelledby="c333ft-tab">
              <div class="row">
                <div class="col border-left">
                  <h3 style="margin-top: 18px; margin-left: 8px">3x3x3 with feet Single</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333ft result_type='single' %}
                </div>
                <div class="col">
                  <h3 style="margin-top: 18px">3x3x3 with feet Average</h3>
                  {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333ft result_type='average' %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="c222" role="tabpane" aria-labelledby="c222-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">2x2x2 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_222 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">2x2x2 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_222 result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="c444" role="tabpane" aria-labelledby="c444-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">4x4x4 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_444 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">4x4x4 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_444 result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="c555" role="tabpane" aria-labelledby="c555-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">5x5x5 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_555 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">5x5x5 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_555 result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="c666" role="tabpane" aria-labelledby="c666-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">6x6x6 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_666 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">6x6x6 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_666 result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="c777" role="tabpane" aria-labelledby="c777-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">7x7x7 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_777 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">7x7x7 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_777 result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="minx" role="tabpane" aria-labelledby="minx-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">Megaminx Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_minx result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">Megaminx Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_minx result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pyram" role="tabpane" aria-labelledby="pyram-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">Pyraminx Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_pyram result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">Pyraminx Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_pyram result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="skewb" role="tabpane" aria-labelledby="skewb-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">Skewb Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_skewb result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">Skewb Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_skewb result_type='average' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="sq1" role="tabpane" aria-labelledby="sq1-tab">
      <div class="row">
        <div class="col border-left">
          <h3 style="margin-top: 18px; margin-left: 8px">Square-1 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_sq1 result_type='single' %}
        </div>
        <div class="col">
          <h3 style="margin-top: 18px">Square-1 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_sq1 result_type='average' %}
        </div>
      </div>
    </div>
  </div>
</div>
