{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-50">
    <div class="col">
      <h1>Regional Ranking (Region IV-A)</h1>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-3">
      <img class="rotate45 align-middle" src="{% static '3x3x3.svg' %}" style="margin-top: 37%">
    </div>
    <div class="col">
      <h3>3x3x3 Single</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in single_333 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.best }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>3x3x3 Average</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in average_333 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.average }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row mt-30">
    <div class="col">
      <h3>2x2x2 Single</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in single_222 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.best }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>2x2x2 Average</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in average_222 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.average }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <img class="rotate45 align-middle" src="{% static '2x2x2.svg' %}" style="margin-top: 37%">
    </div>
  </div>
  <hr>
  <div class="row mt-30">
    <div class="col-3">
      <img class="rotate45 align-middle" src="{% static '4x4x4.svg' %}" style="margin-top: 37%">
    </div>
    <div class="col">
      <h3>4x4x4 Single</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in single_444 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.best }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>4x4x4 Average</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in average_444 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.average }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row mt-30 mb-50">
    <div class="col">
      <h3>5x5x5 Single</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in single_555 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.best }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>5x5x5 Average</h3>
      <table class="table table-sm">
        <tbody>
          {% for result in average_555 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ result.personName }}</td>
              <td>{{ result.average }}s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <img class="rotate45 align-middle" src="{% static '5x5x5.svg' %}" style="margin-top: 37%">
    </div>
  </div>
{% endblock %}
