<div class="row">
  <div class="col">
    <h3>3x3x3 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333 result_type='single' %}
  </div>
  <div class="col">
    <h3>3x3x3 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>2x2x2 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_222 result_type='single' %}
  </div>
  <div class="col">
    <h3>2x2x2 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_222 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>4x4x4 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_444 result_type='single' %}
  </div>
  <div class="col">
    <h3>4x4x4 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_444 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>5x5x5 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_555 result_type='single' %}
  </div>
  <div class="col">
    <h3>5x5x5 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_555 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>6x6x6 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_666 result_type='single' %}
  </div>
  <div class="col">
    <h3>6x6x6 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_666 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>7x7x7 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_777 result_type='single' %}
  </div>
  <div class="col">
    <h3>7x7x7 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_777 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>3x3x3 One-handed Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333oh result_type='single' %}
  </div>
  <div class="col">
    <h3>3x3x3 One-handed Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333oh result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>3x3x3 with feet Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333ft result_type='single' %}
  </div>
  <div class="col">
    <h3>3x3x3 with feet Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333ft result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>3x3x3 Blindfolded Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333bf result_type='single' %}
  </div>
  <div class="col">
    <h3>3x3x3 Blindfolded Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333bf result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Rubik's Clock Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_clock result_type='single' %}
  </div>
  <div class="col">
    <h3>Rubik's Clock Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_clock result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Rubik's Magic Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_magic result_type='single' %}
  </div>
  <div class="col">
    <h3>Rubik's Magic Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_magic result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Master Magic Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_mmagic result_type='single' %}
  </div>
  <div class="col">
    <h3>Master Magic Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_mmagic result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Megaminx Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_minx result_type='single' %}
  </div>
  <div class="col">
    <h3>Megaminx Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_minx result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Pyraminx Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_pyram result_type='single' %}
  </div>
  <div class="col">
    <h3>Pyraminx Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_pyram result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Skewb Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_skewb result_type='single' %}
  </div>
  <div class="col">
    <h3>Skewb Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_skewb result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Square-1 Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_sq1 result_type='single' %}
  </div>
  <div class="col">
    <h3>Square-1 Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_sq1 result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>4x4x4 Blindfolded Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_444bf result_type='single' %}
  </div>
  <div class="col">
    <h3>4x4x4 Blindfolded Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_444bf result_type='average' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>5x5x5 Blindfolded Single</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_555bf result_type='single' %}
  </div>
  <div class="col">
    <h3>5x5x5 Blindfolded Average</h3>
    {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_555bf result_type='average' %}
  </div>
</div>
