{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-50 mb-50">
    <div class="col">
      <h3>National Ranking</h3>
      <hr>
      <div class="row">
        <div class="col">
          <h3>3x3x3 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333 %}
        </div>
        <div class="col">
          <h3>3x3x3 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>2x2x2 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_222 %}
        </div>
        <div class="col">
          <h3>2x2x2 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_222 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>4x4x4 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_444 %}
        </div>
        <div class="col">
          <h3>4x4x4 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_444 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>5x5x5 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_555 %}
        </div>
        <div class="col">
          <h3>5x5x5 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_555 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>6x6x6 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_666 %}
        </div>
        <div class="col">
          <h3>6x6x6 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_666 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>7x7x7 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_777 %}
        </div>
        <div class="col">
          <h3>7x7x7 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_777 %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
