{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-50 mb-50">
    <div class="col">
      <h3>Regions</h3>
      <div class="list-group">
        {% for region_choice in region_choices %}
          <a href="{% url 'web:regional_rankings' %}?region={{ region_choice.0 }}" class="list-group-item list-group-item-action{% if region.key == region_choice.0 %} active{% endif %}">{{ region_choice.0 }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-10">
      <h3>Regional Ranking ({{ region.label }})</h3>
      <hr>
      {% include 'pages/rankings/_events.html' %}
    </div>
  </div>
{% endblock %}
