{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-50 mb-50">
    <div class="col">
      <h3>Regions</h3>
      <div class="list-group">
        {% for region_choice in region_choices %}
          <a href="{% url 'web:regional_rankings' %}?region={{ region_choice.0 }}" class="list-group-item list-group-item-action{% if region.key == region_choice.0 %} active{% endif %}">{{ region_choice.0 }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-10">
      <h3>Regional Ranking ({{ region.label }})</h3>
      <hr>
      <div class="row">
        <div class="col">
          <h3>3x3x3 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_333 %}
        </div>
        <div class="col">
          <h3>3x3x3 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_333 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>2x2x2 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_222 %}
        </div>
        <div class="col">
          <h3>2x2x2 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_222 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>4x4x4 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_444 %}
        </div>
        <div class="col">
          <h3>4x4x4 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_444 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>5x5x5 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_555 %}
        </div>
        <div class="col">
          <h3>5x5x5 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_555 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>6x6x6 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_666 %}
        </div>
        <div class="col">
          <h3>6x6x6 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_666 %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3>7x7x7 Single</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.single_777 %}
        </div>
        <div class="col">
          <h3>7x7x7 Average</h3>
          {% include 'pages/rankings/_result_table.html' with rankings=all_rankings.average_777 %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
