{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-50 mb-50">
    <div class="col">
      <h3>Cities/Provinces</h3>
      <div class="list-group">
        {% for cityprovince_choice in cityprovince_choices %}
          <a href="{% url 'web:cityprovincial_rankings' %}?cityprovince={{ cityprovince_choice }}" class="list-group-item list-group-item-action{% if cityprovince == cityprovince_choice %} active{% endif %}">{{ cityprovince_choice }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-9">
      <h3>City/Provincial Ranking ({{ cityprovince }})</h3>
      <hr>
      {% include 'pages/rankings/_events.html' %}
    </div>
  </div>
{% endblock %}
