{% extends 'base.html' %}

{% block content %}
  <main style="margin-bottom: 120px">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h3 class="color-blue">WCA-sanctioned Competitions</h3>
          <p>Check out and join upcoming speedcubing competitions!</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center border-top border-left border-right border-bottom border-radius-top-left bg-white pt-5 pb-5">
          <h1 style="font-size: 100px"><span class="fa fa-trophy"></span></h1>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 bg-white">
          <h1>{{ upcoming_competitions|length }}</h1>
          <h4 class="mb-0">Upcoming</h4>
          <p class="text-muted">competitions</p>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 bg-white">
          <h1 class="text-muted">N/A</h1>
          <h4 class="mb-0">Past</h4>
          <p class="text-muted">competitions</p>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 border-radius-top-right bg-white">
          <h1 class="text-muted">N/A</h1>
          <h4 class="mb-0">Total</h4>
          <p class="text-muted">competitions</p>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom bg-2">
          <p class="mt-3 mb-3 ml-2">Upcoming Competitions</p>
        </div>
      </div>

      {% for competition in upcoming_competitions %}
        <div class="row">
          <div class="col border-left border-right border-bottom bg-white">
            <div class="row">
              <div class="col-5 mt-4 ml-5 mb-2">
                <h3><a href="{{ competition.website }}" target="_blank">{{ competition.name }}</a></h3>
                <ul class="list-unstyled">
                  <li>{{ competition.city }}</li>
                  {% if competition.start_date == competition.end_date %}
                    <li>{{ competition.start_date }}</li>
                  {% else %}
                    <li>{{ competition.start_date }} to {{ competition.end_date }}</li>
                  {% endif %}
                </ul>
              </div>

              <div class="col-2 mt-4 mb-2">
                <h5>Delegates</h5>
                {% for delegate in competition.delegates %}
                  <a href="{{ delegate.url }}" target="_blank"><img width="50px" height="50px" class="rounded-circle" src="{{ delegate.avatar.thumb_url }}" alt="{{ delegate.name }}" data-toggle="tooltip" data-placement="bottom" title="{{ delegate.name }}"></a>
                {% endfor %}
              </div>

              <div class="col-3 mt-4 mb-2">
                <h5>Organizers</h5>
                {% for organizer in competition.organizers %}
                  <a href="{{ organizer.url }}" target="_blank"><img width="50px" height="50px" class="rounded-circle" src="{{ organizer.avatar.thumb_url }}" alt="{{ organizer.name }}" data-toggle="tooltip" data-placement="bottom" title="{{ organizer.name }}"></a>
                {% endfor %}
              </div>

              <div class="col mt-4 mb-2 text-right">
                <a href="{{ competition.website }}/register" target="_blank" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Register</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="row">
        <div class="col border-left border-right border-bottom bg-2">
          <p class="mt-3 mb-3 ml-2">Past 5 Competitions <a href="#"><small>view all</small></a></p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col border-left border-right border-bottom border-radius-bottom-left border-radius-bottom-right" style="background-color: #ffffff">
          <div class="row">
            <div class="col py-4 text-center">
              <h2 class="text-muted">N/A</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
