{% extends 'base.html' %}

{% block content %}
  <div class="container" style="margin-top: 80px">
    <div class="row" style="margin-top: 100px">
      <div class="col">
        <h1><span class="fa fa-trophy"></span> Upcoming Competitions</h1>
      </div>
    </div>

    <hr class="my-4">

    {% for competition in upcoming_competitions %}
      <div class="row">
        <div class="col-5">
          <h3><a href="{{ competition.website }}" target="_blank">{{ competition.name }}</a></h3>
          <ul class="list-unstyled">
            <li>{{ competition.city }}</li>
            <li>{{ competition.start_date }} to {{ competition.end_date }}</li>
          </ul>
        </div>
        <div class="col-2">
          <h4>Delegates</h4>
          {% for delegate in competition.delegates %}
            <a href="{{ delegate.url }}" target="_blank"><img width="50px" height="50px" class="rounded-circle" src="{{ delegate.avatar.thumb_url }}" alt="{{ delegate.name }}" data-toggle="tooltip" data-placement="bottom" title="{{ delegate.name }}"></a>
          {% endfor %}
        </div>
        <div class="col-3">
          <h4>Organizers</h4>
          {% for organizer in competition.organizers %}
            <a href="{{ organizer.url }}" target="_blank"><img width="50px" height="50px" class="rounded-circle" src="{{ organizer.avatar.thumb_url }}" alt="{{ organizer.name }}" data-toggle="tooltip" data-placement="bottom" title="{{ organizer.name }}"></a>
          {% endfor %}
        </div>
        <div class="col text-right">
          <a href="{{ competition.website }}/register" target="_blank" class="btn btn-primary" style="margin-top: 25px; margin-right: 18px">Register</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
