{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container" style="margin-top: 80px">
    <div class="row" style="margin-top: 80px">
      <div class="col-2" style="margin-top: 20px">
        <img src="{% static 'img/pca.png' %}" class="img-fluid" alt="PCA Logo">
      </div>
      <div class="col" style="margin-top: 20px">
        <h1 class="display-4">Philippine Cubers Association</h1>
        <p style="text-indent: 0px">A nonprofit organization that provides successful competitions in different parts of the Philippines, making more people aware of the world of speedcubing, helping more aspiring speedcubers to be the best of themselves, and to be considered as world class competitors in the world of speedcubing. PCA also continues to provide more activities, more friendship and more fun.</p>
      </div>
    </div>

    <hr class="my-2">

    <div class="row mt-4">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TbkF92DH0oM" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Upcoming Competition</div>
          <div class="card-body">
            {% if upcoming_competition %}
              <h3>{{ upcoming_competition.name }}</h3>
              <ul class="list-unstyled">
                <li>{{ upcoming_competition.city }}</li>
                {% if upcoming_competition.start_date == upcoming_competition.end_date %}
                  <li>{{ upcoming_competition.start_date }}</li>
                {% else %}
                  <li>{{ upcoming_competition.start_date }} to {{ upcoming_competition.end_date}}</li>
                {% endif %}
              </ul>
              <div><a href="{{ upcoming_competition.website }}/register" target="_blank">Register</a></div>
              <div><a href="{% url 'web:competitions' %}">View all upcoming competitions</a></div>
            {% else %}
              <p>No upcoming competition yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
