{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px">
  <div class="row">

    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <img src="{{ user.wcaprofile.avatar_thumb_url }}" alt="{{ user.wcaprofile.name }}" class="img-fluid">

          <hr>

          <ul class="list-unstyled">
            <li><h3>{{ user.wcaprofile.name }}</h3></li>
            {% if user.wcaprofile.wca_id %}
              <li><a href="https://www.worldcubeassociation.org/persons/{{ user.wcaprofile.wca_id }}" target="_blank">{{ user.wcaprofile.wca_id }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h4>Account Settings</h4>
          <hr>
          <form action="{% url 'web:profile' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.region.id_for_label }}">Region:</label>
              <select name="{{ form.region.name }}" required id="{{ form.region.id_for_label }}" class="form-control">
                {% for value, label in form.fields.region.choices %}
                  {% if form.region.value == value %}
                    <option value="{{ value }}" selected>{{ value }} - {{ label }}</option>
                  {% else %}
                    <option value="{{ value }}">{{ value }} - {{ label }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>Personal Records</h3>

          <table class="table mt-4">
            <thead>
              <tr>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
