{% extends 'base.html' %}

{% block content %}
  <main style="margin-bottom: 120px">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h3 class="color-blue">WCA-sanctioned Competitions</h3>
          <p>Check out and join upcoming speedcubing competitions!</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center border-top border-left border-right border-bottom border-radius-top-left bg-white pt-5 pb-5">
          <h1 style="font-size: 100px"><span class="fa fa-trophy"></span></h1>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 bg-white">
          <h1>4</h1>
          <h4 class="mb-0">Upcoming</h4>
          <p class="text-muted">competitions</p>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 bg-white">
          <h1>126</h1>
          <h4 class="mb-0">Past</h4>
          <p class="text-muted">competitions</p>
        </div>
        <div class="col text-center border-top border-right border-bottom pt-5 pb-5 border-radius-top-right bg-white">
          <h1>130</h1>
          <h4 class="mb-0">Total</h4>
          <p class="text-muted">competitions</p>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom bg-2">
          <p class="mt-3 mb-3 ml-2">Upcoming Competitions</p>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom bg-white">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>

            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Register</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom" style="background-color: #ffffff">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>
            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Register</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom" style="background-color: #ffffff">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>
            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Register</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom" style="background-color: #ffffff">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>
            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Register</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom bg-2">
          <p class="mt-3 mb-3 ml-2">Past 5 Competitions <a href="#"><small>view all</small></a></p>
        </div>
      </div>

      <div class="row">
        <div class="col border-left border-right border-bottom" style="background-color: #ffffff">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>
            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" style="margin-top: 25px; margin-right: 18px">Results</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col border-left border-right border-bottom border-radius-bottom-left border-radius-bottom-right" style="background-color: #ffffff">
          <div class="row">
            <div class="col-5 mt-4 ml-5 mb-2">
              <h3><a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018">Philippine Championship 2018</a></h3>
              <ul class="list-unstyled">
                <li>Quezon City</li>
                <li>September 28 to 30, 2018</li>
              </ul>
            </div>

            <div class="col-2 mt-4 mb-2">
              <h5>Delegates</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2010UBAL01/1506331030_thumb.jpg" alt="Delegate">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2014LAGA02/1530177072_thumb.jpg" alt="Delegate">
            </div>

            <div class="col-3 mt-4 mb-2">
              <h5>Organizers</h5>
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2012LALO01/1479956163_thumb.JPG" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2015YUNE01/1497874522_thumb.jpeg" alt="Organizer">
              <img width="50px" height="50px" class="rounded-circle" src="https://www.worldcubeassociation.org/uploads/user/avatar/2017ACAN02/1513673671_thumb.jpg" alt="Organizer">
            </div>
            <div class="col mt-4 mb-2 text-right">
              <a href="https://www.worldcubeassociation.org/competitions/PhilippineChampionship2018/register" class="btn btn-blue" disabled style="margin-top: 25px; margin-right: 18px">Results</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
{% endblock %}
