{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Philippine Cubers Association</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/ebbdddd75f.css">
    <link rel="stylesheet" href="{% static 'cubing-icons/css/cubing-icons.css' %}">

    <style>
      html, body {
        font-family: 'Roboto', sans-serif;
      }
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 80px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 40px;
        line-height: 40px; /* Vertically center the text there */
        background-color: #bcbcbc;
      }
      .footer a {
        color: #000;
      }
    </style>
  </head>
  <body>
    <header>
      <nav id="pca-navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{% static 'img/pca.png' %}" width="30" height="30" alt="PCA Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pcaNavbar" aria-controls="pcaNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="pcaNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link{% if page == 'index' %} active{% endif %}" href="{% url 'web:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page == 'competitions' %} active{% endif %}" href="{% url 'web:competitions' %}">Competitions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page == 'rankings_national' %} active{% endif %}" href="{% url 'web:national_rankings' %}">National Ranking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page == 'rankings_regional' %} active{% endif %}" href="{% url 'web:regional_rankings' %}">Regional Ranking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-right">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.wcaprofile }}</a>
                  <div class="dropdown-menu" aria-labelledby="profile-dropdown">
                    <a class="dropdown-item{% if page == 'profile' %} active{% endif %}" href="{% url 'web:profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'web:logout' %}">Logout</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'web:login' %}"><img src="{% static 'img/wca.svg' %}" width="30" height="30" alt="WCA Logo"> WCA Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container text-center" style="font-size: 12px">
        <span><a href="https://www.facebook.com/PhilippineCubersAssociation"><span class="fa fa-facebook-square"></span> Page</a> | <a href="https://www.facebook.com/groups/128212757232287"><span class="fa fa-facebook-square"></span> Group</a> | <span class="fa fa-envelope"></span> Contact Us</span>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

      {% block scripts %}{% endblock %}
    </footer>
  </body>
</html>
