{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main style="margin-bottom: 120px">
    <div class="container">

      <div class="row mt-5">
        <div class="col">
          <h3>Announcements</h3>
        </div>
        <div class="col text-right">
          <a href="#">View all</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-5">

      <div class="row mt-5">
        <div class="col">
          <h3>Competitions</h3>
        </div>
        <div class="col text-right">
          <a href="#">View all</a>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 md-4 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

      </div>

      <hr class="mt-5">

      <div class="row mt-5">
        <div class="col">
          <h3>Tutorials</h3>
        </div>
        <div class="col text-right">
          <a href="#">View all</a>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 col-lg-4 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <small><a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a></small>
              <p class="mt-2">Aenean blandit tincidunt rhoncus. Nulla vestibulum neque consectetur quam mollis interdum. Sed vulputate, ante eget pulvinar semper, orci felis congue arcu, id viverra lorem urna vitae ante.</p>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </main>
{% endblock %}
